body {
  margin: 0;
  height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la pantalla */
}

.prueba {
  display: flex;
  justify-content: space-between; /* Para distribuir los elementos */
  align-items: center;
  height: 100%; /* Ocupa toda la altura */
}

.vertical-1, .vertical-2, .vertical-3, .vertical-4 {
  padding: 15px;
  transform: rotate(-270deg);
  border-radius: 15px;
  background-color: black; 
  width: 270px;
  opacity: 80%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

.vertical-1 {
  /* Usamos % en lugar de px para que sea más flexible */
  position: absolute;
  top: 30%;
  right: -4%;
}

.vertical-2 {
  position: absolute;
  top: 70%;
  left: -4%;
}

.vertical-3 {
  position: absolute;
  top: 30%;
  left: -4%;
}

.vertical-4 {
  position: absolute;
  top: 70%;
  right: -4%;
}

.camera {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%); /* Centra el div de la cámara */
  background-color: black;
  padding: 5px;
  border-radius: 20px;
  opacity: 80%;
}

.number {
  margin: auto;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  width: 6%;
  color: white;
  transform: rotate(270deg);
}

#camera,
#depth-4, #depth-3, #depth-2, #depth-1 {
  -webkit-appearance: none;
  height: 6px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  max-width: 400px;
}

#camera::-webkit-slider-thumb, 
#depth-4::-webkit-slider-thumb, 
#depth-3::-webkit-slider-thumb, 
#depth-2::-webkit-slider-thumb, 
#depth-1::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 25px;
  background: red;
  position: relative;
}

#camera::-moz-range-thumb, 
#depth-4::-moz-range-thumb, 
#depth-3::-moz-range-thumb, 
#depth-2::-moz-range-thumb, 
#depth-1::-moz-range-thumb {
  width: 5px;
  height: 20px;
  border-radius: 50%;
  background: red;
}

/* Media Queries para distintas pantallas */

/* Pantallas medianas (tablets) */
@media screen and (max-width: 1024px) {
  .vertical-1, .vertical-2, .vertical-3, .vertical-4 {
    width: 220px;
    height: 50px;
  }
}

/* Pantallas grandes (PCs) */
@media screen and (min-width: 1440px) {
  .vertical-1, .vertical-2, .vertical-3, .vertical-4 {
    width: 250px;
    height: 50px;
  }
}
/* Pantallas de portátiles (1024px - 1440px) */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .vertical-1, .vertical-2, .vertical-3, .vertical-4 {
    width: 250px; /* Ajuste de tamaño intermedio */
    height: 50px;
    padding: 12px; /* Levele reducción de padding */
  }

  .vertical-1 {
    top: 25%;
    right: -5%;
  }

  .vertical-2 {
    top: 65%;
    left: -5%;
  }

  .vertical-3 {
    top: 25%;
    left:-5%;
  }

  .vertical-4 {
    top: 65%;
    right: -5%;
  }

  .number {
    width: 8%;
    padding: 4px;
  }
}
